
html{
	background-image: url(images/grey1.jpg);
	background-size: cover;
	scroll-behavior: smooth;
}
body {
	width: 100%;
	margin: auto;
	
}

header {
	padding: 5%;
	font-size: 150%;
	font-style: italic;

}

.title h1 {
	font-weight: bold;
	font-style: italic;

}

.titles {
	font-style: italic;
	font-family: impact;
}

.nav-buttons {
	border: double 10px black;
	width: 100%;
	font-family: impact;	
}

.nav-buttons ul{
	display: flex;
	justify-content: space-around;
}

.nav-buttons a{
	text-decoration: none;
}

.toggler {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggler .touch {
	height: 3px;
	width: 100%;
	background-color: black;
	border-radius: 10px;

}

.content1 {
	text-align: center;
}

.content2 {
	text-align: center;
	margin: auto;
	width: 90%;
	padding-top: 110px ;
	display: flex;
	justify-content: space-between;

}

.paragraph1{
flex: 2;
}
.paragraph2{
flex: 2;
padding: 25px;
}
.paragraph3{
flex: 2;
}
content2 img {
	
}

.content2 p {
	font-size: 140%;
	font-family: impact;
	font-style: italic;
	line-height: 175%;

	
}

.nextpara {
	text-align: center;
	margin: auto;
	padding: 60px;
	font-size: 140%;
	font-family: impact;
	font-style: italic;
	line-height: 175%;
}

.content3 {
	margin: auto;
	width: 65%;
}

.content4 {
	text-align: center;
	margin: auto;
	font-size: 150%;
	font-weight: bold;

}

#links1 {

	text-decoration: none;
	text-align: center;
	display: block;
	margin-top: 10px;
}

li {
	text-align: center;
	align-content: center;
	list-style-type: none;
	font-family: impact;
	
}

#rims1 {
   align-items: center;
	display: block;
	margin: 0 auto;
}

#z350 {
    display: block;
	width: 70%;
	margin: 0 auto;
}

#mgt {
    display: block;
	height: 50%;
	margin: 0 auto;
}

#Z06 {
   display: block;
   height: 50%;
   width: 90%;
}

#honda {
display: block;
height: 50%;
margin-left: 25%;

}


.content5 {
	margin-top: 10%;
	text-align: center;
}



.link {
	width: 100%;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-column-gap: 20px;
	justify-content: center;
	text-align: center;
	margin: auto;
	padding-bottom: 150px;
}

.contact {
	margin: auto;
	padding-top: 100px;
	text-align: center;
	padding-bottom: 40px;
}
.content6 {
text-align: center;


}
.content7 {

}

#note {
	font-size: 200%;
}

aside {
	margin: 10%;
	font-style: italic;
	font-size: 150%;
}

figcaption {
opacity: 30%;
font-style: italic;
font-family: impact;
font-size: 135%;
color: black;
}


#bmw {
	width: 50%;
}

footer {
	text-align: center;
	margin: auto;
	padding: 15px;
	background-color: lightgray;
}

::-webkit-scrollbar {
	width: 15px;
}
::-webkit-scrollbar-track {
	background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: black;
	border: double #696969 3px;

}

/* Handle on hover*/
::-webkit-scrollbar-thumb:hover {
	background: #696969;
	border: double black 4px;
}



@media screen and (max-width: 600px) {

	.Lmenu {
		flex-direction: column;
	

	}

	.toggler {
		display: flex;

	}


	.nav-buttons {
		display: none;
		width: 100%;
	}

	.nav-buttons ul{
		flex-direction: column;
		width: 100%;
		font-size: 150%;
	}

	.nav-buttons ul li {
		text-align: center;
	}

	.nav-buttons ul li a {
		padding: .5rem 1rem;

	}

	.nav-buttons.active {
		display: flex;
	}
	

	.content2 {
		display: grid;
		justify-content: center;
		grid-template-columns: 1fr;
	}

	.link {
		display: grid;
		justify-content: center;
		grid-template-columns: 1fr;
	}


	#Z06{
			height: 50%;
			width: 50%;
			margin-left: 25%;
	}

	#honda {
		display: block;
		padding-right: 400px;

		

	}




	


}
